{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Sobre o Projeto</title>
{% endblock %}

{% block conteudo %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Sobre</h1>
                <p class="lead" style="color: #DFDFDF">
                    Fundada em 2023, a BeloJardim tem como propósito trazer harmonia para os ambientes da sua vida. Tudo isso utilizando o que tem de melhor na natureza com o seu lar!
                </p>
            </div>
        </div>
    </div>
</header>
{% endblock %}